<header>
  <nav role='navigation'>
    <ul>
        <li><a class="link-1 entypo-home active" href="#Marketing"></a></li>
        <li><a class="link-2 entypo-picture" href="#clients"></a></li>
        <li><a class="link-3 entypo-user" href="#about"></a></li>
        <li><a class="link-4 entypo-mail" href="#contact-us"></a></li>
    </ul>
  </nav>  
</header>
<section id="Marketing">
    <div class="container" style="width:1200px; min-width:800px;margin-left:250px;">
        <h2>Marketing</h2>
        <div class="container" style="width:500px;float:left;margin-left:50px;border:3px solid rgba(222,222,222,0.5);">
            <h3>(1) Promotion</h3>
            <p><img src="/img/promotion.png" alt="Promotion" style="width:200px;height:200px;float:right;">ZBest Payment helps you gain your fame and attract more customers. We provide multiple promotion methods through popular platforms like Yelp, WeChat. We also cooperate with professional advertise organizations to help you occupy the market.</p>

        </div>
        <div class="container" style="width:500px;float:right;border:3px solid rgba(222,222,222,0.5);margin-top:100px;">
            <h3>(2) Gift Card & Logo Design</h3>
            <p><img src="/img/GiftCard.png" alt="Promotion" style="width:300px;height:250px;float:right;">We have professional teams for designing Gift Card and Logo. For customers using our payment services, we can give them discounted and even free design services.</p>
        </div>
        <div class="container" style="width:500px;float:right;margin-right:50px;border:3px solid rgba(222,222,222,0.5);margin-top:100px;">
            <h3>(3) Mobile Coupon / APP Integration</h3>
            <p><img src="/img/mobile.png" alt="Promotion" style="width:300px;height:250px;float:right;">We can make your cellphone as your wallet. This service can combine coupon and discount and the payment at the time people buy things through their phones.</p>
        </div>
    </div>
</section>
<section id="OnlineOrdering">
  <h2>Online Ordering</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel est id orci feugiat rhoncus. Duis tempus lectus non urna aliquam mollis. In at lacinia eros. Nam sed lorem est. Vestibulum placerat lorem in massa facilisis et mattis lacus mollis. Morbi nec dui ac magna dignissim euismod.Nullam condimentum felis eu quam molestie sit amet dignissim justo tempus. Mauris ultricies massa aliquam lorem viverra in tristique purus fermentum. Mauris dictum erat eu ipsum rhoncus laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id orci ante. <br/><br/>Fusce ut risus a ligula scelerisque fermentum porttitor a tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent sodales lobortis neque, id convallis purus pharetra a. Nullam aliquam tristique urna vel molestie. Vestibulum eu nisl magna. Suspendisse justo sem, dapibus eu dapibus vitae, mollis nec tellus. Duis volutpat ligula metus. <br/><br/>Vivamus placerat, purus et aliquet vehicula, leo odio tempor dui, quis interdum augue leo quis quam. Maecenas facilisis viverra risus, id interdum sem elementum nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
</section>
<section id="ECommerce">
  <h2>E-Commerce</h2>
  <div class="illustration"></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel est id orci feugiat rhoncus. Duis tempus lectus non urna aliquam mollis. In at lacinia eros. Nam sed lorem est. Vestibulum placerat lorem in massa facilisis et mattis lacus mollis. Morbi nec dui ac magna dignissim euismod.<br/><br/>

Nullam condimentum felis eu quam molestie sit amet dignissim justo tempus. Mauris ultricies massa aliquam lorem viverra in tristique purus fermentum. Mauris dictum erat eu ipsum rhoncus laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id orci ante. <br/><br/>Nullam aliquam tristique urna vel molestie. Vestibulum eu nisl magna. Suspendisse justo sem, dapibus eu dapibus vitae, mollis nec tellus. Duis volutpat ligula metus. <br/><br/>Vivamus placerat, purus et aliquet vehicula, leo odio tempor dui, quis interdum augue leo quis quam. Maecenas facilisis viverra risus, id interdum sem elementum nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vestibulum placerat lorem in massa facilisis et mattis lacus mollis. Morbi nec dui ac magna dignissim euismod.Nullam condimentum felis eu quam molestie sit amet dignissim justo tempus. Mauris ultricies massa aliquam lorem viverra in tristique purus fermentum. </p>
</section>
<section id="AppPay">
  <h2>App/Payment</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis diam id nulla dictum rhoncus. Praesent interdum, diam sit amet pretium fermentum, libero lacus porttitor justo, vitae molestie velit justo et est. Sed ut urna aliquet leo ornare viverra eu a est. Vivamus dignissim nisl sed metus hendrerit scelerisque. Nam facilisis velit id velit congue vitae venenatis orci tempor. Nam vel est id orci feugiat rhoncus. Duis tempus lectus non urna aliquam mollis. In at lacinia eros. Nam sed lorem est. Vestibulum placerat lorem in massa facilisis et mattis lacus mollis. Morbi nec dui ac magna dignissim euismod.<br/><br/>

Nullam condimentum felis eu quam molestie sit amet dignissim justo tempus. Mauris ultricies massa aliquam lorem viverra in tristique purus fermentum. Mauris dictum erat eu ipsum rhoncus laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id orci ante. <br/><br/>Fusce ut risus a ligula scelerisque fermentum porttitor a tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent sodales lobortis neque, id convallis purus pharetra a. Nullam aliquam tristique urna vel molestie. Vestibulum eu nisl magna. Suspendisse justo sem, dapibus eu dapibus vitae, mollis nec tellus. Duis volutpat ligula metus. Vivamus placerat, purus et aliquet vehicula, leo odio tempor dui, quis interdum augue leo quis quam. Maecenas facilisis viverra risus, id interdum sem elementum nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
</section>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
            </div>
        </div>




        <div id="zbest_services" class="transitions-enabled">
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_1.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Retail</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_2.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Wholesale</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_3.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Supermarket</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_4.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Insurance</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_5.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Gas Station</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_6.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Spa</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_7.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Salon</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_8.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Restaurant</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_8.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Lodging Hotel</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_10.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Medical Office</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_11.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">E-commerce</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_12.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Wireless</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_13.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Pharmacy</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_14.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Car Rental</h3>
                
            </div>

        </div>


    </div>
</section>