<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
            </div>
        </div>




        <div id="zbest_services" class="transitions-enabled">
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_1.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Retail</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_2.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Wholesale</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_3.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Supermarket</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_4.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Insurance</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_5.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Gas Station</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_6.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Spa</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_7.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Salon</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_8.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Restaurant</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_8.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Lodging Hotel</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_10.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Medical Office</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_11.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">E-commerce</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_12.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Wireless</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_13.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Pharmacy</h3>
                
            </div>
            <div class="small_image col-md-4">
                <%= link_to cl_image_tag("ZB_Service/1_14.png", :radius=> :max, :crop=>:crop, :border=>"2px_solid_rgb:0a7eea") %>
                <h3 class="section-subheading text-muted">Car Rental</h3>
                
            </div>

        </div>


    </div>
</section>