

<div class="brand">Zbest Payment</div>
<div class="address-bar">130-30 31st Ave | Flushing, NY 11354 | 267.442.8792</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="#_index">Zbest Payment</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="padding:10px; margin-left:10%;"> 
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Solutions", solutions_path %></li>
                <li><%= link_to "Products", products_path %></li>
                <li><%= link_to "Services", services_path %></li>
                <li><%= link_to "Join Us", joinus_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>