<script>  
<!--  // building select nav for mobile width only -->
// show and hide sub menu
$(function(){
    $('nav ul li').hover(
        function () {
            //show its submenu
            $('ul', this).slideDown(150);
        }, 
        function () {
            //hide its submenu
            $('ul', this).slideUp(150);         
        }
    );
});
//end
</script>

<div class="container" style="width:80%;">
    <div><img src="../img/logo.png" alt="" style="width:50%; margin-top:0px; float:left; width:100px;"></div>
    
    <div class="address-bar"><font size=3>LOG IN | LANGUAGE<br>130-30 31st Ave | Flushing, NY 11354<br>917.243.6332</font></div>
</div>


<nav class="navbar" role="navigation" id="zbest_nav" >
 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar-default" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="#_index">Zbest Payment</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="fdw" class="container" style="width:82%; min-width:800px;">
            <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right"> 
                    <li class="current"><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Solution", solution1_path %>
                        <ul style="display: none;" class="sub_menu">
                            <li class="arrow_top"></li>
                            <li><%= link_to "Payment Processing", solution1_path %></li>
                            <li><%= link_to "Cash Advance", solution2_path %></li>
                            <li><%= link_to "PCI Compliance", solution3_path %></li>
                            <li><%= link_to "ATM Service", solution4_path %></li>
                        </ul>
                    </li>



                    <li><%= link_to "Product", product1_path %>
                        <ul style="display: none;" class="sub_menu">
                            <li class="arrow_top"></li>
                            <li><%= link_to "Payment Processing", product1_path %>
                            <li><%= link_to "Gift & Loyalty Cards", product2_path %>
                            <li><%= link_to "ATM machine", product3_path %>
                        </ul>
                    </li>

                    <li><%= link_to "Services", services_path %>
                        <ul style="display: none;" class="sub_menu">
                            <li class="arrow_top"></li>
                            <li><a href="#Marketing">Marketing</a></li>
                            <li><a href="#OnlineOrdering">Online Ordering</a></li>
                            <li><a href="#ECommerce">E-Commerce</a></li>
                            <li><a href="#AppPay">App/Payment</a></li>
                        </ul>
                    </li>
                    <li><%= link_to "Join Us", joinus_path %></li>
                    <li><%= link_to "Contact", contact_path %></li>
                </ul>
            </nav>
        </div>
        <!-- /.navbar-collapse -->
 
    <!-- /.container -->
</nav>
