<!DOCTYPE html>
<html>
<head>
  <title>Zbest Payment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Custom Fonts -->
  <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>
<body id="page-top" class="index">
  <%= render 'layouts/header' %>
  
 
  	<% flash.each do |name, msg| %>
  		<%= content_tag(:div, msg, class: "alert alert-info") %>
  	<% end %>

  	<%= yield %>

  <footer>

  <div class="row" style="background:#999999;" id=foot_navbar>
    <div class="container" style="width:85%;">
      <div class="col-md-4 text-center">
          <h3 class="copyright" style="font-size:medium; color:white;"><b>All Rights Reserved</b></h3>
          
          <font size="2"><%= link_to "privacy", privacy_path %></font>
          <font color="white">&nbsp;|</font>
          <font size="2"><%= link_to "term", privacy_path %></font>
          <font color="white">&nbsp;|</font>
          <font size="2"><%= link_to "site map", privacy_path %></font>

      </div>
      
      <div class="col-md-8">
          <h3 class="copyright" style="font-size:medium; color:white; float:right;">Copyright@2015&nbsp;&nbsp;&nbsp;&nbsp;FAQ</h3> 
      </div>
    </div>
  </div>

  </footer>

      <!-- Plugin JavaScript -->
  
  <script src="js/classie.js"></script>
  <script src="js/cbpAnimatedHeader.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
 

  <!-- Custom Theme JavaScript -->
  <script src="js/agency.js"></script>

</body>
</html>
